<h1>Tés del Sur</h1>
<h2>Listado de productos</h2>
{{#each products}}
    <h3>{{this.title}}</h3>
    <p>{{this.description}}</p>
    <p>$ {{this.price}}</p>
    <p>{{this.code}}</p>
    <p>{{this.stock}} uds</p>
    <p>{{this.category}}</p>
{{/each}}

<h1>Crear nuevo producto</h1>
<form id="idForm">
    <label for="title"><p>Título</p></label>
    <input type="text" required name="title">

    <label for="description"><p>Descripción</p></label>
    <input type="text" required name="description">

    <label for="price"><p>Precio</p></label>
    <input type="number" required name="price">
    
    <label for="code"><p>Código</p></label>
    <input type="text" required name="code">

    <label for="stock"><p>Stock</p></label>
    <input type="number" required name="stock">

    <label for="category"><p>Categoría</p></label>
    <input type="text" required name="category">

    <button type="submit">Enviar form</button>
</form>



<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>